{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manual RPG</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>

    <div class="container">
      <h1> BEM VINDO AO MANUAL </h1>

    </div>
    <div class="texth2">
      <h1>  <em>  <b> Eai Guerreiro, vamos aos primeiros passos então: </b> </em>   <br> </h1>
      <h2>
      o jogo será uma sequência de telas lógicas combinadas com o terminal de comando <br>
      cada tela que não estiver acontecendo nada voce deverá apertar enter para prosseguir <br>
      voce deverá comprar itens no mercado para upar seu personagem <br>
      deverá também percorrer o trajeto até concluir
      </h2>

    </div>
  </body>
</html>